@font-face {
  font-family: 'funkhouse';
  src: url('/path-to/funkhouse.woff2') format('woff2'),
       url('/path-to/funkhouse.woff') format('woff'),
       url('/path-to/funkhouse.ttf')  format('truetype');
}

body {
  font-family: 'funkhouse', sans-serif;
}
